*, *::before, *::after {
    box-sizing:100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:normal;
  }
  
  body {
    padding:0;
    margin:1;
    background: linear-gradient(to right, #effaaa, #3453fe);
  }
  
  .calculator-grid {
    display:grid;
    justify-content: center;
    align-content: center;
    min-height:auto;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(80px,auto) repeat(5,95px);
  }
  
  .calculator-grid > button {
    cursor:auto;
    font-size: 2rem;
    border: 8px solid black;
    outline:mediumblue;
    background-color:yellow;
  }
  
  .calculator-grid > button:hover {
    background-color:darkorange;
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column:1 / -1;
    background-color:white;
    display:inline-flexbox;
    align-items:stretch;
    justify-content:center;
    flex-direction:row-reverse;
    padding: 19px;
    word-wrap:normal;
    word-break:keep-all;
  }
  
  .output .previous-operand {
    color:darkorange;
    font-size: 2rem;
  }
  
  .output .current-operand {
    color:magenta;
    font-size: 3rem;
  }